@use '@/styles/_dirs/variables';
@use '@/styles/_dirs/mixins' as mix;

.book {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    background-color: darken($color: variables.$dominant-color, $amount: 5);
    padding: 1em;
    border-radius: 0.5em;
    transition: color 0.25s ease-in-out, scale 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

    > h3 {
        margin-bottom: 0.25em;
    }

    p {
        span {
            font-weight: bold;
        }
    }

    @include mix.DesktopHover {
        &:hover {
            background-color: rgba($color: variables.$accent-color, $alpha: 0.25);
            scale: 1.02;
            box-shadow: 5px 5px 5px #0003;
        }
    }
}
